/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background-color: #072041;
  background-image: -webkit-linear-gradient(
    top,
    #072142,
    #061c37,
    #07182b,
    #061220,
    #020b16
  );
  font-family: "Cantarell", sans-serif;
}

.moon-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -100;
}

#intro {
  color: white;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: left;
}

.moonlight {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 29.427%;
  margin: auto;
  height: 1385px;
  width: 1385px;
  z-index: -100;
}

#job-description {
  font-size: 1em;
}

#first {
  height: 100vh;
  width: 100vw;
}

body {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

#name {
  letter-spacing: 0.15em;
  font-size: 1em;
}

#name h1 {
  line-height: 110%;
  font-size: 2.5em;
}

#name h1 {
  margin: 0;
}

.underline {
  display: block;
  width: 88px;
  height: 4px;
  border-radius: 5px;
  background: #ff4d5a;
  margin-bottom: 1rem;
}

.underline:nth-child(2) {
  margin-top: 5%;
}

.underline:nth-child(3) {
  margin-left: 54px;
}

#cloud-wrapper {
  position: absolute;
  height: 1385px;
  width: 1385px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clouds:nth-child(1) {
  top: 0;
  left: -20%;
}

.clouds:nth-child(2) {
  top: 0;
  right: 0;
}

.clouds:nth-child(3) {
  bottom: 0;
  left: -20%;
}

.clouds:nth-child(4) {
  bottom: 0;
  right: -20%;
}

.clouds:nth-child(5) {
  bottom: 25%;
  right: -35%;
}

#cloud-wrapper > div {
  width: 50%;
  height: 50%;
  position: relative;
}

.clouds {
  position: absolute;
}

.section:nth-child(3) {
  background-color: white;
}

#section2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about-me {
  display: flex;
  flex-direction: row;
  width: 95vw;
  height: 90vh;
  background-color: white;
  margin-top: 2%;
  padding: 2%;
}

#about-me ul {
  width: 50%;
  margin-top: 5%;
  height: 95%;
}

.has-flex {
  display: flex;
}

ul li {
  height: 18%;
}

.has-space {
  justify-content: space-between;
}

.has-flex-end {
  align-items: flex-end;
}

.skill-name {
  font-size: 2.4rem;
  color: #072142;
  letter-spacing: 0.2em;
  line-height: 1.2;
}

.time {
  font-size: 1.4rem;
  line-height: 1.2;
  color: #c0c5ca;
  margin-left: 0.8rem;
  letter-spacing: 0.2em;
}

.known-percentage {
  font-size: 2.4rem;
  color: #072142;
  letter-spacing: 0.2em;
  line-height: 1.2;
}

.progress-bar {
  height: 1.4rem;
  width: 100%;
  background-color: black;
  border: solid 1px;
}
.progress {
  margin-bottom: 0px !important;
}

.icon {
  width: 75px;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 2%;
}

.mern {
  background-image: url("../img/mern.jpg");
}

.sass {
  background-image: url("../img/sass.png");
}

.js {
  background-image: url("../img/js.png");
}

.wordpress {
  background-image: url("../img/wordpress.png");
}

.shopify {
  background-image: url("../img/shopify.png");
}

.laravel {
  background-image: url("../img/laravel.jpg");
}

.htmlcss {
  background-image: url("../img/html.png");
}

.jquerybs {
  background-image: url("../img/jquery.jpg");
}

.mysql {
  background-image: url("../img/mysql.png");
}

.php {
  background-image: url("../img/php.png");
}

.progress-bar-animate {
  animation-name: progress-bar-animate;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
}

.progress-bar-remove {
  animation-name: progress-bar-remove;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
   animations
   ========================================================================== */

#github_circle:hover {
  animation-iteration-count: infinite;
}

#linkedin_circle {
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes progress-bar-animate {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-bar-remove {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
/*==================================================
*/
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";

/*
 FORMATTING FOR CODEPEN
*/

/*
 BUTTON STYLING
*/

.btn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-one::before {
  left: 4px;
  z-index: 1;

  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 1);
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-one:hover::after {
  transform: scale(1, 0.1);
  opacity: 0;
}

/* BTN TWO */
.btn-two::before,
.btn-two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}
.btn-two:hover::after,
.btn-two:hover::before {
  left: 96px;
  width: 64px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* BTN THREE */
.btn-three::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1, 0.1);
}

.btn-three:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-three::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-three:hover::after {
  transform: scale(1, 0.1);
  opacity: 0;
}

/* BTN FOUR */

.btn-four:hover span {
  transform: scale(1.2, 1.2);
}

.btn-four::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
}

.btn-four:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-four::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-four:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}

/* BTN FIVE */
.btn-five::before {
  transition: transform 0.15s, 0.15s border-radius 0.15s;
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
  border-radius: 50%;
}

.btn-five:hover::before {
  opacity: 1;
  transform: scale(1, 1);
  border-radius: 0;
}

.btn-five::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-five:hover::after {
  opacity: 0;
}

/* BTN SIX */
.btn-six::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.3, 1.3);
}

.btn-six:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-six::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-six:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}
